/* functional pixel main site stylesheet */

/* general / misc */
body {
    background: url("../img/bg-triangular.png"), repeat;
    /* background-color: #251921; */
    color: #eee2d2;
    font-family: 'Noto Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6, p {
    font-family: 'Noto Sans', sans-serif;
}

/* nav bar */
div.navbar {
    background-color: #0f050a;
    border-color: #0f050a;
}

div.navbar a.navbar-brand {
    color: #eee2d2;
}

div.navbar ul.nav a {
    color: #eee2d2;
    text-transform: uppercase;
}

/* jumbotron */
#header {
    background-color: black;
    background-image: url("../img/bg-pixelated.jpg");
    background-position: 0% 100%;
    background-size: cover;
    height: 16em;
    margin-top: 50px;
    padding: 3em 0em 0em 1.5em;
}

#logo {
    width: 270px;
}

@media (min-width: 568px) {
    #header {
	background-position: 0% 50%;
	height: 20em;
	padding: 4em 0 0 2em;
    }

    #logo   { width: 480px; }
}

/*
@media (min-width: 992px) {
}

@media (min-width: 1200px) {
}
*/

/* content */
h3.content-title {
    background-color: #0f050a;
    display: inline-block;
    font-weight: normal;
    left: -2.0em;
    margin: 0;
    margin-bottom: 1em;
    padding: 0.5em 0.75em 0.5em 2.0em;
    position: relative;
    text-transform: uppercase;
}

/* services */
div.service {
    background-color: #0f050a;
    text-align: center;
    margin-bottom: 2em;
    padding: 2em 1.25em 2em 1.25em;
}

div.service h3 {
    font-weight: normal;
    margin-bottom: 1em;
    text-transform: uppercase;
}

/* about + contact sections */

div.info {
    margin-bottom: 5em;
}

#contact ul.social {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#contact ul.social li {
    display: inline;
    margin-right: 1.75em;
}

#contact ul.social li a {
    color: #b2a99d;
    font-size: 3em;
}

#contact ul.social li a:hover,
#contact ul.social li a:active {
    color: #f7ebda;
    text-decoration: none;
}

/* footer */
#footer {
    font-size: 0.9em;
    margin-top: 3em;
    margin-bottom: 5em;
    padding: 0 3em 0 3em;
    text-align: center;
}

/* mono social icons */
@font-face {
    font-family: 'Mono Social Icons Font';
    src: url('../fonts/MonoSocialIconsFont-1.10.eot');
    src: url('../fonts/MonoSocialIconsFont-1.10.eot?#iefix') format('embedded-opentype'),
    url('../fonts/MonoSocialIconsFont-1.10.woff') format('woff'),
    url('../fonts/MonoSocialIconsFont-1.10.ttf') format('truetype'),
    url('../fonts/MonoSocialIconsFont-1.10.svg#MonoSocialIconsFont') format('svg');
    src: url('../fonts/MonoSocialIconsFont-1.10.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.symbol, a.symbol:before {
    font-family: 'Mono Social Icons Font';
    -webkit-text-rendering: optimizeLegibility;
    -moz-text-rendering: optimizeLegibility;
    -ms-text-rendering: optimizeLegibility;
    -o-text-rendering: optimizeLegibility;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -ms-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    font-smoothing: antialiased;
}

a.symbol:before {
    content: attr(title);
    margin-right: 0.3em;
    font-size: 130%;
}
